*{
  font-family: sans-serif;
}

body{
    height: 100vh;
  }
  
::placeholder {
  color: white;
}

.header {
  background-color : #242424; 
  height: 5rem;
}

#account {
  margin-top: 1rem;
}

.content {
  background-color : #eeeeee;
}

#items {
  align-items: center;
  text-align: center;
  align-content: center;
  display: flex;
}

.card {
  width: auto; 
  align-items: auto;
}

.footer {
  background-color : #242424; 
  height: auto;    
}

.footer-title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.iconRight {
  background: url("./assets/search.png") no-repeat 98%;
  background-size: 5%;
  width: 90%;
}
